<h5 class="card-title">{{{ cfp.name }}}</h5>

{{^hassubmissions}}
    <div class="alert alert-info">Até o momento não foram feitas submissões de atividades para esse evento</div>
{{/hassubmissions}}
{{#hassubmissions}}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Público alvo</th>
            <th scope="col">Trilha</th>
            <th scope="col">Título</th>
            <th scope="col">Proponente</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {{#submissions}}
                <tr>
                    <th scope="row">{{{ id }}}</th>
                    <td>{{{ type }}}</td>
                    <td>{{{ audience }}}</td>
                    <td>{{{ track }}}</td>
                    <td>{{{ title }}}</td>
                    <td>{{{ firstname }}} {{{ lastname }}}</td>
                    <td><span class="badge badge-pill badge-{{{ statusclass }}}">{{{ status }}}</span></td>
                    <td style="width: 100px;"><a class="btn btn-sm btn-info" href="{{config.wwwroot}}/mod/cfp/submission.php?id={{{ id }}}">Ver submissão</a></td>
                </tr>
            {{/submissions}}
        </tbody>
    </table>
{{/hassubmissions}}