<h5 class="card-title">{{{ cfp.name }}}</h5>

<div class="userinfo">
    <div class="pic">
        <img src="{{{ user.img}}}" alt="{{{ user.firstname }}} {{{ user.lastname }}}">
    </div>
    <div class="infos ml-md-2">
        <p class="m-b-0"><b>Nome completo:</b> {{{ user.firstname }}} {{{ user.lastname }}}</p>
        <p class="m-b-0"><b>Email:</b> {{{ user.email }}}</p>
        <p class="m-b-0"><b>Telefone para contato:</b> {{{ submission.contact }}}</p>
        <p class="m-b-0"><b>Minicurrículo:</b> {{{ submission.minicurriculum }}}</p>
    </div>
</div>

<hr>

<p class="m-b-0"><b>Tipo de apresentação:</b> {{{ submission.type }}}</p>
<p class="m-b-0"><b>Público alvo:</b> {{{ submission.audience }}}</p>
<p class="m-b-0"><b>Trilha:</b> {{{ submission.track }}}</p>
<p class="m-b-0"><b>Nível:</b> {{{ submission.level }}}</p>

<hr>

<p><b>Título da apresentação:</b> {{{ submission.title }}}</p>
<p class="m-b-0"><b>Resumo da apresentação:</b></p>
<textarea rows="10" class="form-control" disabled>{{{ submission.resume }}}</textarea>

<p class="m-b-0 m-t-1"><b>Informações complementares/Observações:</b></p>
<textarea rows="10" class="form-control" disabled>{{{ submission.notes }}}</textarea>

<div class="m-t-1">
    <a class="btn btn-success" href="#">Aprovar submissão</a>
    <a class="btn btn-danger" href="#">Reprovar submissão</a>
</div>