<h5 class="card-title">{{{ cfp.name }}}</h5>

<div class="userinfo">
    <div class="pic">
        <img src="{{{ user.img}}}" alt="{{{ user.firstname }}} {{{ user.lastname }}}">
    </div>
    <div class="infos ml-md-2">
        <p class="m-b-0"><b>Nome completo:</b> {{{ user.firstname }}} {{{ user.lastname }}}</p>
        <p class="m-b-0"><b>Email:</b> {{{ user.email }}}</p>
    </div>
</div>

<hr>

<ol class="pl-4">
    {{#answers}}
        <li class="pl-2">
            <div class="alert alert-info">
                <h5 class="alert-heading">{{{label}}}</h5>
                <p class="mb-0">{{{answer}}}</p>
            </div>
        </li>
    {{/answers}}
</ol>