<table class="table table-striped table-sm">
    <tbody>
        {{#summarydata}}
            <tr>
                <th class="cell" scope="row">{{{ title }}}</th>
                <td class="cell">{{{ content }}}</td>
            </tr>
        {{/summarydata}}
    </tbody>
</table>