{{^hasquestions}}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">{{#str}}activitynotavailable, mod_cfp{{/str}}</h4>
        <p>{{#str}}activitynotavailable_info, mod_cfp{{/str}}</p>
    </div>

    <div class="text-center mt-3">
        <a href="{{config.wwwroot}}/course/view.php?id={{course}}"
        class="btn btn-dark">{{#str}}backtocourse, mod_cfp{{/str}}</a>
    </div>
{{/hasquestions}}
{{#hasquestions}}
    <div id="intro" class="box py-3 generalbox boxaligncenter">{{{intro}}}</div>

    <div class="gradingsummary">
        <h3>{{#str}}submission_status, mod_cfp{{/str}}</h3>

        <div class="box py-3 boxaligncenter gradingsummarytable">
            <table class="generaltable">
                <tbody>
                <tr>
                    <th class="cell c0" scope="row" style="width: 200px;">{{#str}}duedate, mod_cfp{{/str}}</th>
                    <td class="cell c1 lastcol">{{{duedate}}}</td>
                </tr>
                <tr>
                    <th class="cell c0" scope="row" style="width: 200px;">{{#str}}submission_status, mod_cfp{{/str}}</th>
                    <td class="cell c1 lastcol">
                        {{#hasattempt}}
                            <span class="badge badge-success">{{#str}}sent, mod_cfp{{/str}}</span>
                        {{/hasattempt}}
                        {{^hasattempt}}
                            <span class="badge badge-dark">{{#str}}notsent, mod_cfp{{/str}}</span>
                        {{/hasattempt}}
                    </td>
                </tr>
                <tr>
                    <th class="cell c0" scope="row" style="width: 200px;">{{#str}}submission_status, mod_cfp{{/str}}</th>
                    <td class="cell c1 lastcol">
                        <span class="badge badge-info">{{status}}</span>
                    </td>
                </tr>
                <tr>
                    <th class="cell c0" scope="row" style="width: 200px;">{{#str}}timeremaining, mod_cfp{{/str}}</th>
                    <td class="cell c1 lastcol">
                        {{#isdelayed}}
                            <span class="badge badge-danger">{{{timeremaining}}}</span>
                        {{/isdelayed}}
                        {{^isdelayed}}
                            {{{timeremaining}}}
                        {{/isdelayed}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{#hasattempt}}
        {{#isdelayed}}
            <div class="alert alert-warning" role="alert">
                <h3>{{#str}}duetimedone, mod_cfp{{/str}}</h3>
                <hr>
                <p class="mb-0">{{#str}}duetimedone_msg, mod_cfp{{/str}}</p>
            </div>
        {{/isdelayed}}
        {{^isdelayed}}
            <div class="submissionlinks text-center">
                <a class="btn btn-primary" href="{{{config.wwwroot}}}/mod/cfp/submit.php?id={{{cmid}}}">{{#str}}editsubmission, mod_cfp{{/str}}</a>
            </div>
        {{/isdelayed}}
    {{/hasattempt}}
    {{^hasattempt}}
        {{^isdelayed}}
            <div class="submissionlinks text-center">
                <a class="btn btn-primary" href="{{{config.wwwroot}}}/mod/cfp/submit.php?id={{{cmid}}}">{{#str}}addsubmission, mod_cfp{{/str}}</a>

                <p class="py-3 submithelp">{{#str}}youhavenotsent, mod_cfp{{/str}}</p>
            </div>
        {{/isdelayed}}
    {{/hasattempt}}
{{/hasquestions}}